*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

img {
  display: block;
}

@media (min-resolution: 192dpi) {
  .hero-image {
    background-image: url(../images/01people-office@2x.jpg);
  }
}

.list-ground {
  background-color: #ffffff;
}

address {
  font-style: normal;
}
/* koniec zerowania */

/* container x 3 */

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* header początek stylizacji */

/* heder styl uniwersalny */
header-style {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* header @media x2 */
.header-general {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

@media screen and (min-weight: 768px) {
   {
    height: 72px;
  }
}

/* heder styl uniwersalny */
.header-nav {
  display: flex;
  align-items: center;
}

/* heder styl uniwersalny */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  color: #4d5ae5;
}

/* heder styl uniwersalny */
/* logo part-"studio" header */
.studio-logo {
  color: #2e2f42;
}

/* heder styl uniwersalny */
.menu-flex {
  display: flex;
  gap: 40px;
}

/* heder @media 2x */
@media screen and (max-width: 767px) {
  .navi-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navi-menu {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;
    font-style: normal;
    display: block;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* heder styl uniwersalny */
nav .navi-menu-studio {
  position: relative;
  color: #404bbf;
}

nav .navi-mobile-studio {
  position: relative;
  color: #404bbf;
}

address .tel_mobile_mobile {
  position: relative;
  color: #404bbf;
}

/* heder styl uniwersalny */
.navi-menu-studio::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

/* heder styl uniwersalny */
.navi-menu:hover,
.navi-menu:focus {
  color: #404bbf;
}

/* heder @media 3x */
@media screen and (max-width: 767px) {
  .menu-telflex {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .menu-telflex {
    display: flex;
    height: 72px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: column;
    /* gap: 12px; */
  }
}

@media screen and (min-width: 1158px) {
  .menu-telflex {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

/* heder @media x2 */
/* 
.link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

@media screen and (min-width: 768px) {
  .link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* .link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* heder styl uniwersalny */
.link:hover,
.link:focus {
  color: #404bbf;
}

/* heder @media 2x */
.hamburger_mobile_box {
  display: flex;
  flex-direction: column;
  width: 16.8px;
  height: 14.4px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hamburger_mobile_box {
    display: none;
  }
}

/* header koniec stylizacji */

/* mobile_mobile początek stylizacji */

@media screen and (min-width: 768px) {
  .mobile_mobile-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #2e2f42;
    height: 640px;
    width: 320px;
  }
}

.mobile_mobile-window {
  position: relative;
  width: 320px;
  /* border: 2px solid #2e2f42; */
  padding-left: 16px;
  padding-right: 16px;
}

.button-mobile_mobile {
  position: absolute;

  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-bottom: 105px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-mobile_mobile:focus,
.button-mobile_mobile:hover {
  background-color: #404bbf;
  border: none;
}

.svg-button-one {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-mobile_mobile:focus .svg-button-one,
.button-mobile_mobile:hover .svg-button-one {
  fill: #ffffff;
}

.mobile_mobile-menu-flex {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  padding-right: 100%;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 105px;
  margin-bottom: 168px;
}

.mobile_mobile_navi-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3cap;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile_navi-menu:hover,
.mobile_navi-menu:focus {
  color: #404bbf;
}

.mobile_mobile-menu-telflex {
  display: flex;
  flex-wrap: wrap;
  width: 193px;
  height: 72px;
  padding-right: 100%;
  justify-content: space-between;
  margin-bottom: 48px;
}

.mobile_mobile-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  white-space: nowrap;

  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile_mobile-link-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  white-space: nowrap;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile_mobile-link:hover,
.mobile_mobile-link:focus {
  color: #404bbf;
}

.mobile_mobile-link-tel:hover .mobile_mobile-link-tel:focus {
  color: #404bbf;
}

.mobile_mobile-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
  width: 288px;
  margin-bottom: 40px;
}

/* mobile_mobile koniec stylizacji */

/* hero początek stylizacji */

/* hero @media x3 */
.hero-space {
  background-color: #2e2f42;
  padding-top: 72px;
  max-width: 320px;
  height: 100%;
  margin: 0 auto;
  height: 432px;
}

@media screen and (min-width: 768px) {
  .hero-space {
    padding-top: 112px;
    max-width: 768px;
    height: 436px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-space {
    padding-top: 188px;
    max-width: 1440px;
    height: 600px;
  }
}

/* hero uniwersalny */
.hero-space .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* hero uniwesalny */
.hero-image {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/01people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* hero @media x3 */
.h-one {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  padding-left: 52px;
  padding-right: 52px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .h-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .h-one {
    margin-bottom: 48px;
  }
}

/* hero uniwesalny */
/* button */
.bat-ton {
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  margin: 0 auto;

  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  /* margin: left 635.5px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hero uniwesalny */
.bat-ton:hover,
.bat-ton:focus {
  background-color: #404bbf;
}

/* hero koniec stylizacji */

/* startegy początek stylizacji */

/* strategy styl uniwersalny */
.h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-left: 600px;
  color: #2e2f42;
}

/* strategy styl uniwersalny */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* strategy @media x3 */
@media screen and (max-width: 767px) {
  .effective-flex {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}

@media screen and (max-width: 1157px) {
  .effective-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .effective-flex {
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 24px;
  }
}

/* strategy @media x2 */

@media screen and (min-width: 768px) {
  .effective-li {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .effective-li {
    width: calc((100% - 72px) / 4);
  }
}

/* strategy @media x2 */
@media screen and (max-width: 1157px) {
  .effective-icons {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .effective-icons {
    background-color: #f4f4fd;
    width: 100%;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}

/* strategy @media x3 */
@media screen and (max-width: 767px) {
  .title-effective {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    text-align: center;
    color: #2e2f42;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .title-effective {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    text-align: left;
    color: #2e2f42;
  }
}

@media screen and (min-width: 1158px) {
  .title-effective {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
}

/* startegy - styl uniwersalny */
.text-left {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin-bottom: 72px; */
}

/* strategy koniec stylizacji */

/* our team stylizacja początek */

/* team @media x2 */

@media screen and (max-width: 1157px) {
  .team-space {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .team-space {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* team styl uniwersalny */
.htwo-team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  padding-bottom: 72px;
  text-align: center;
  color: #2e2f42;
}

/* team @media x3 */
@media screen and (max-width: 767px) {
  .sectiontwo-flex {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    margin: 0 auto;
    width: 264px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .sectiontwo-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    width: 540px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .sectiontwo-flex {
    display: flex;
    gap: 24px;
  }
}

/* team @media x2 */
.team-li {
  margin: 0 auto;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-li {
    width: calc((100% - 24px) / 2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

.name-job_mobile {
  height: 104px;
  width: 264px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.name-job {
  padding: 32px 0px;
}

.team-icons-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icons {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
}

/* h3 center for Section 2-"Our Team"*/
.hthree-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  color: #2e2f42;
}

/* text center for Section 2-"Our Team"*/
.text-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.job-link-svg {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.job-link-svg:hover,
.job-link-svg:focus {
  background-color: #404bbf;
}

.team-svg {
  fill: #f4f4fd;
}

/* our temm stylizacja koniec */

/* portfolio stylizacja początek */

/* portfolio @media x2 */

@media screen and (max-width: 1157px) {
  .portfolio-space {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-space {
    padding: 120px 0;
  }
}

/* portfolio styl uniwersalny */
.htwo-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
}

/* portfolio styl uniwersalny */
.transition-li {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio styl uniwersalny */
.transition-li:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* team @media x3 */
@media screen and (max-width: 767px) {
  .section-portfolio-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section-portfolio-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding-bottom: 72px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio-flex {
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
}

/* portfolio @media x3 */

.portfolio-li {
  margin: 0 auto;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portfolio-li {
    width: calc((100% - 24px) / 2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-li {
    width: calc((100% - 48px) / 3);
    /* width: 264px; */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/* portfolio styl uniwersalny */
.box {
  position: relative;
  overflow: hidden;
}

.hthree-left {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.app-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.text-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}

.portfolio-general .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .overlay {
  transform: translateY(0%);
}

/* portfolio stylizacja koniec */

/* footer stylizacja początek */

/* footer mobile 01 - raczej uniwersalny */
.footer-style {
  background-color: #2e2f42;
  padding: 100px 0;
}

/* footer mobile 02 - tylko mobile*/
@media screen and (max-width: 767px) {
  .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* footer tablet 02 - tylko tablet*/
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-flex {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    max-width: 530px;
    flex-direction: row;
    align-items: baseline;
  }
}

/* footer desktop 02 - tylko desktop*/
@media screen and (min-width: 1158px) {
  .footer-flex {
    display: flex;
    align-items: baseline;
  }
}

/* footer mobile 03 - tylko mobile*/
@media screen and (max-width: 767px) {
  .logo-paragraph {
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
}

/* footer tablet 03 - tylko tablet*/
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .logo-paragraph {
    margin-right: 0px;
  }
}

/* footer desktop 03 - tylko desktop*/
@media screen and (min-width: 1158px) {
  .logo-paragraph {
    margin-right: 120px;
  }
}

/* footer mobile 04 - tylko mobile*/
@media screen and (max-width: 767px) {
  .footer-logo {
    display: block;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* footer tablet 04 - tylko tablet*/
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-bottom: 16px;
  }
}

/* footer desktop 04 - tylko desktop*/
@media screen and (min-width: 1158px) {
  .footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-bottom: 16px;
  }
}

/* footer mobile 05 - raczej uniwersalny */
.studiologo-footer {
  color: #f4f4fd;
}

/* footer mobile 06 - tylko mobile*/
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  padding-bottom: 72px;
}

/* footer tablet 06 - tablet i desktop*/
@media screen and (min-width: 768px) {
  .text-footer {
    padding-bottom: 0px;
  }
}

/* footer mobile 07 - tylko mobile*/
.p-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

/* footer tablet 07 - tablet i desktop*/
@media screen and (min-width: 768px) {
  .p-social {
    text-align: left;
  }
}

/* footer mobile 08 - tylko mobile*/
@media screen and (max-width: 767px) {
  .footer-icons-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 72px;
  }
}

/* footer tablet 08 - tylko tablet*/
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-icons-container {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

/* footer desktop 08 - tylko desktop*/
@media screen and (min-width: 1158px) {
  .footer-icons-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 72px;
  }
}

/* footer mobile 09 - raczej uniwersalny*/
.footer-icons {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

/* footer mobile 10 x 3 - raczej uniwersalny*/
.footer-link-svg {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-svg:hover,
.footer-link-svg:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

/* footer mobile 11 i 12 puste klassy footer-link i subscribe-container usunięte*/

/* footer mobile 13 - mobile*/
.p-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

/* footer tablet 13 - tablet*/
@media screen and (min-width: 768px) {
  .p-subscribe {
    padding-left: 0px;
    text-align: left;
  }
}

/* footer desktop 13 - desktop*/
@media screen and (min-width: 1158px) {
  .p-subscribe {
    padding-left: 80px;
    /* text-align: left; */
  }
}

/* footer mobile 14 - tylko mobile*/
@media screen and (max-width: 767px) {
  .form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

/* footer tablet 14 - tylko tablet*/
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .form-subscribe {
    display: flex;
    flex-direction: row;
    gap: 0px 24px;
    align-items: baseline;
  }
}

/* footer desktop 14 - tylko desktop*/
@media screen and (min-width: 1158px) {
  .form-subscribe {
    display: flex;
    gap: 24px;
    padding-left: 80px;
  }
}

/* footer mobile 15 - raczej uniwersalny*/
.label-subscribe {
  display: flex;
}

/* footer mobile 16 x2 - raczej uniwersalny*/
.input-subscribe {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.input-subscribe::placeholder {
  color: #ffffff;
}

/* footer mobile 17 - tylko mobile*/
@media screen and (max-width: 767px) {
  .button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
  }
}

/* footer tablet 17 - tablet i desktop */
@media screen and (min-width: 768px) {
  .button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
  }
}

/* footer mobile 18 - raczej uniwersalny*/
.svg-subscribe {
  margin-left: 16px;
}

/* footer stylizacja koniec */

/* xzamień na fixef */
.modal-home {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  /* position: absolute; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 408px; */
  width: 288px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
  }
}

.button-one {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-one:focus,
.button-one:hover {
  background-color: #404bbf;
  border: none;
}

.svg-button-one {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-one:focus .svg-button-one,
.button-one:hover .svg-button-one {
  fill: #ffffff;
}

.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form {
  margin-bottom: 8px;
}

.label-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.div-name {
  position: relative;
}

.input-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus {
  border-color: #4d5ae5;
}

.svg-name {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus + svg {
  fill: #4d5ae5;
}

.form-comment {
  margin-bottom: 16px;
}

.comment-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area:focus {
  border-color: #4d5ae5;
}

.comment-area::placeholder {
  color: #8e8f99;
}

.check-area {
  margin-bottom: 24px;
}

.label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.label-privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-area .visually-hidden:checked + .label-privacy > .label-privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.a-privacy {
  color: #4d5ae5;
  text-decoration: underline;
}

.button-two {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
